@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans');

body {
	background-color: #7FB57E;
	font-family: 'Open Sans';

}

.main-content {
	padding: 60px 15px;
}

h1 {
	font-family: 'Playfair Display';
}

.well {
	background-color: #4F754E;
	border: none;
    border-radius: 6px;
}

.well blockquote {
	color: #fff;
    border: none;
    text-align: center;
}
.quote-content {
	font-size: 24px;
}

.quote-author {
	font-size: 16px;
	color: #fff;

}

blockquote footer:before {
	content: "";
}

.icon-quote {
    margin: 10px auto 30px;
}

.show-quote {
	padding: 10px 19px;
    font-size: 14px;
    line-height: 1.471;
    border: 3px solid #4F754E;
    border-radius: 6px;
    background-color: transparent;
    color: #4F754E;

}