@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans');

body {
	background-color: #7FB57E;
	font-family: 'Open Sans';

}

.main-content {
	padding: 40px 15px;
}

.title-section {
	margin: 0 auto 40px;
}

.title-section h1 {
	font-family: 'Playfair Display';
}

.well {
	background-color: #4F754E;
	border: none;
    border-radius: 6px;
}

.well blockquote {
	color: #fff;
    border: none;
    text-align: center;
}
.quote-content {
	font-size: 24px;
}

.quote-author {
	font-size: 16px;
	color: #fff;

}

blockquote footer:before {
	content: "";
}

.icon-quote {
    margin: 10px auto 30px;
}

.btn {
	font-size: 14px;
	line-height: 1.471;
	border-radius: 6px;
}

.show-quote {
    border: 3px solid #4F754E;
    background-color: transparent;
    color: #4F754E;
    padding: 10px 19px;
}

.twitter-share-button {
    background-color: #3891EA;
    color: #fff;
    border-radius: 6px;
    padding: 7px;

}

.twitter-share-button img {
	width: 20px;
    background-color: #3891EA;
    color: #fff;
}
